<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naver.dcancer.DAO.CampDAO">
	<select id="pagingData" resultType="int">
		select count(${data}) totalLine from ${bbs}
	</select>
	<select id="customSelect" resultType="com.naver.dcancer.DTO.customDTO">
		 select * from
		(select * from
		 (select c.CUSTOMNO, c.name, c.birth, c.email, c.addr1, c.addr2, c.tel, c.gender, c.registdate, c.code from customInfo c
		<if test="searchWord!=null">
		where ${searchKey} like '%${searchWord}%'
		</if>
		 order by c.CUSTOMNO desc)
		 <![CDATA[where rownum<=${linePerPage}*${nowPage} order by CUSTOMNO asc]]>)
		<choose>
		<when test="nowPage!=totalPage">  
		<![CDATA[where rownum<=${linePerPage} order by CUSTOMNO desc]]>
		</when>
		<when test="nowPage==totalPage">
		<![CDATA[where rownum<=${lastPageLine} order by CUSTOMNO desc]]>
		</when>
		</choose> 
	</select>
	<select id="optDataSelect" resultType="com.naver.dcancer.DTO.OptDTO">
		select customNo, RSph, RCyl, RAxis, RAdd, LSph, LCyl, LAxis, LAdd, pd, registDate from OptometryRegistry  where customNo = ${no} order by registdate desc 
	</select>
	<select id="customfinder" resultType="com.naver.dcancer.DTO.customDTO">
		select * from customInfo where name = #{name} and tel = #{tel} and code = ${code}
	</select>
	<select id="customfind" resultType="com.naver.dcancer.DTO.customDTO">
		select customNo, name, to_char(birth,'YYYY-MM-DD') birth, email, addr1, addr2, gender, code, tel from customInfo where customNo=${customNo}
	</select>
	<insert id="addCustomData">
		insert into CustomInfo(customNo, name, birth, gender, tel, email, addr1, addr2, code) 
		values(custom_sq.nextval, #{name}, #{birth,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, #{tel}, #{email,jdbcType=VARCHAR}, #{addr1,jdbcType=VARCHAR}, #{addr2,jdbcType=VARCHAR}, ${code})
		<selectKey keyProperty="customNo" resultType="int" order="AFTER">
			select custom_sq.currval from dual
		</selectKey>
	</insert>
	<insert id="addOptData">
		insert into OptometryRegistry(Optometryno, customNo, Rsph, rcyl, raxis, lsph, lcyl, laxis, pd, radd, ladd, memo, sellno)
		values( opt_sq.nextval, ${customNo}, ${RSph}, ${RCyl}, ${RAxis}, ${LSph}, ${LCyl}, ${LAxis}, ${pd}, ${RAdd}, ${LAdd}, #{memo,jdbcType=VARCHAR}, ${sellNo})
		<selectKey keyProperty="registDate" resultType="String" order="AFTER">
			select to_Char(sysdate,'YYYY-MM-DD') registDate from dual
		</selectKey>
	</insert>
	<insert id="addOpt">
		insert into OptometryRegistry(Optometryno, customNo, Rsph, rcyl, raxis, lsph, lcyl, laxis, pd, radd, ladd, memo)
		values( opt_sq.nextval, ${customNo}, ${RSph}, ${RCyl}, ${RAxis}, ${LSph}, ${LCyl}, ${LAxis}, ${pd}, ${RAdd}, ${LAdd}, #{memo,jdbcType=VARCHAR})
		<selectKey keyProperty="registDate" resultType="String" order="AFTER">
			select to_Char(sysdate,'YYYY-MM-DD') registDate from dual
		</selectKey>
	</insert>
	<select id="selledList" resultType="com.naver.dcancer.DTO.SellDTO">
		select distinct customNo, s.sellNo, s.empno, s.sellstatus, to_char(selldate,'YYYY-MM-DD') selldate, e.ename, optResult
		from sellInfo s join empInfo e on e.empno=s.empno
		where s.code=${code} and to_char(s.sellDate,'YYYY-MM-DD')=#{date} order by s.sellNo
	</select>
	<select id="selledData" resultType="com.naver.dcancer.DTO.SellDTO">
		select s.sellNo, s.goodNo, s.qtt, s.realPrice, g.model
		from sellInfo s join goodinfo g on s.goodNo=g.goodNo
		where s.code=${code} and to_char(s.sellDate,'YYYY-MM-DD')=#{date} order by s.sellNo
	</select>
	<update id="selldataUpdate">
		update sellInfo set customNo=${customNo}, <if test="promiseDate!=null">promiseDate=#{promiseDate,jdbcType=VARCHAR}, </if>sellStatus=#{sellStatus}, optResult=1 where sellNo=${sellNo}
	</update>
	<select id="soldDay" resultType="com.naver.dcancer.DTO.soldDTO">
		select campname, sum, sellNo, round(sum/sellNo,-2) avg from (
		select code,sum(qtt*realprice) sum, count(sellNo) sellNo from 
		sellInfo where to_char(selldate,'YYYY-MM-DD') like #{date} 
		group by code) s join campInfo c on c.code=s.code order by c.code
	</select>
	<select id="soldBetween" resultType="com.naver.dcancer.DTO.soldDTO">
		select campname, sum, sellNo, round(sum/sellNo,-2) avg from 
			(select code,sum(qtt*realprice) sum, count(sellNo) sellNo from sellInfo where selldate BETWEEN #{startDate} and #{endDate} group by code) s 
				join campInfo c on c.code=s.code order by c.code
	</select>
	<select id="brokenList" resultType="com.naver.dcancer.DTO.brokenDTO">
		select brokenNo, g.goodno, qtt, registDate, g.model from brokenList b join goodinfo g on g.goodno=b.goodno where registdate between TRUNC(SYSDATE, 'MM') and sysdate order by brokenNo
	</select>
	<select id="brokenFind" resultType="com.naver.dcancer.DTO.brokenDTO">
		select goodNo, model, sellername from goodInfo g join sellerInfo s on g.sellercode=s.sellercode where upper(model) like upper('%${searchWord}%') order by goodNo
	</select>
	<insert id="brokenInsert">
		insert into brokenlist(brokenNo, goodNo, qtt) values(broken_sq.nextval, ${goodNo}, ${qtt})
		<selectKey keyProperty='brokenNo,registdate' resultType="com.naver.dcancer.DTO.brokenDTO">
			select broken_sq.currval brokenNo, to_char(sysdate,'YYYY-MM-DD HH:mi:ss') registDate from dual
		</selectKey>
	</insert>
	<select id="refundList" resultType="com.naver.dcancer.DTO.refundDTO">
		select refundNo, g.goodno, qtt, registDate, g.model from refundList r join goodinfo g on g.goodno=r.goodno where registdate between TRUNC(SYSDATE, 'MM') and sysdate order by refundNo
	</select>
	<select id="refundFind" resultType="com.naver.dcancer.DTO.refundDTO">
		select goodNo, model, sellername from goodInfo g join sellerInfo s on g.sellercode=s.sellercode where upper(model) like upper('%${searchWord}%') order by goodNo
	</select>
	<insert id="refundInsert">
		insert into refundlist(refundNo, goodNo, qtt) values(refund_sq.nextval, ${goodNo}, ${qtt})
		<selectKey keyProperty='refundNo,registdate' resultType="com.naver.dcancer.DTO.refundDTO">
			select refund_sq.currval refundNo, to_char(sysdate,'YYYY-MM-DD HH:mi:ss') registDate from dual
		</selectKey>
	</insert>
	<select id="promisedBuyer" resultType="com.naver.dcancer.DTO.promiseDTO">
		select distinct s.customNo, c.name, c.tel, s.sellNo, to_char(s.sellDate,'YYYY-MM-DD') selldate from sellInfo s join customInfo c on s.customNo=c.customNo 
			where to_char(promisedate,'YYYY-MM-DD') = #{date} order by sellno
	</select>
	<select id="promisedData" resultType="com.naver.dcancer.DTO.promiseDTO">
		select s.sellNo, s.qtt, s.goodno, g.model, s.realprice from sellInfo s join goodInfo g on s.goodno=g.goodNo 
			where to_char(promisedate,'YYYY-MM-DD') = #{date} order by sellno
	</select>
	<select id="promiseToday" resultType="com.naver.dcancer.DTO.promiseDTO">
		select name, tel, price,qtt,sellNo from
         (select distinct customNo ,s.sellno, promisedate, price, s.qtt from 
		    (select  sellNo, sum(qtt*realprice) price, sum(qtt) qtt from sellInfo where code=#{code} group by sellNo) s 
		  join sellInfo i on s.sellNo=i.sellNo where to_char(promisedate,'YYYY-MM-DD')=#{now} order by s.sellno) p
  	    join customInfo c on c.customNo=p.customNo
	</select>
</mapper>