<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naver.dcancer.DAO.CampDAO">
	<select id="customSelect" resultType="com.naver.dcancer.DTO.customDTO">
		 select * from
		(select * from
		 (select c.CUSTOMNO, c.name, c.birth, c.email, c.addr1, c.addr2, c.tel, c.gender, c.registdate, c.code from customInfo c
		<if test="searchWord!=null">
		where ${searchKey} like '%${searchWord}%'
		</if>
		 order by c.CUSTOMNO desc)
		 <![CDATA[where rownum<=${linePerPage}*${nowPage} order by CUSTOMNO asc]]>)
		<choose>
		<when test="nowPage!=totalPage">  
		<![CDATA[where rownum<=${linePerPage} order by CUSTOMNO desc]]>
		</when>
		<when test="nowPage==totalPage">
		<![CDATA[where rownum<=${lastPageLine} order by CUSTOMNO desc]]>
		</when>
		</choose> 
	</select>
	<select id="optDataSelect" resultType="com.naver.dcancer.DTO.OptDTO">
		select customNo, RSph, RCyl, RAxis, RAdd, LSph, LCyl, LAxis, LAdd, pd, registDate from OptometryRegistry  where customNo = ${no} order by registdate desc 
	</select>
	<select id="customfinder" resultType="com.naver.dcancer.DTO.customDTO">
		select * from customInfo where name = #{name} and tel = #{tel} and code = ${code}
	</select>
	<select id="customfind" resultType="com.naver.dcancer.DTO.customDTO">
		select customNo, name, to_char(birth,'YYYY-MM-DD') birth, email, addr1, addr2, gender, code, tel from customInfo where customNo=${customNo}
	</select>
	<insert id="addCustomData">
		insert into CustomInfo(customNo, name, birth, gender, tel, email, addr1, addr2, code) 
		values(custom_sq.nextval, #{name}, #{birth,jdbcType=varchar}, #{gender,jdbcType=varchar}, #{tel}, #{email,jdbcType=varchar}, #{addr1,jdbcType=varchar}, #{addr2,jdbcType=varchar}, ${code})
		<selectKey keyProperty="customNo" resultType="int" order="AFTER">
			select custom_sq.currval from dual
		</selectKey>
	</insert>
	<insert id="addOptData">
		insert into OptometryRegistry(Optometryno, customNo, Rsph, rcyl, raxis, lsph, lcyl, laxis, pd, radd, ladd, memo)
		values( opt_sq.nextval, ${customNo}, ${RSph}, ${RCyl}, ${RAxis}, ${LSph}, ${LCyl}, ${LAxis}, ${pd}, ${RAdd}, ${LAdd}, #{memo,jdbcType=VARCHAR})
		<selectKey keyProperty="registDate" resultType="String" order="AFTER">
			select to_Char(sysdate,'YYYY-MM-DD') registDate from dual
		</selectKey>
	</insert>
	<select id="selledList" resultType="com.naver.dcancer.DTO.SellDTO">
		select distinct s.sellNo, s.empno, s.sellstatus, to_char(selldate,'YYYY-MM-DD HH24:MI:SS') selldate, e.ename
		from sellInfo s join empInfo e on e.empno=s.empno
		where s.code=${code} and to_char(s.sellDate,'YYYY-MM-DD')=#{date} order by s.sellNo
	</select>
	<select id="selledData" resultType="com.naver.dcancer.DTO.SellDTO">
		select s.sellNo, s.goodNo, s.qtt, s.realPrice, g.model
		from sellInfo s join goodinfo g on s.goodNo=g.goodNo
		where s.code=${code} and to_char(s.sellDate,'YYYY-MM-DD')=#{date} order by s.sellNo
	</select>
</mapper>