@charset "UTF-8";
	.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.wrap {
  display: flex;
  flex: 1;
  
}
.main_frm {
  flex: 1;
  padding : 1%;
}

.left_menu, .right_menu {
  /* 12em은 열의 너비입니다. */
  flex: 0 0 9%;
}
.header {
}
.side-btn{
	width : 8%;
}
.left_menu {
  /* 좌측에 네비게이션을 놓습니다. */
  order: -1;
}
.logoimg{
	height:100px;
}

ul, li {
	list-style-type: none;
}